@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body{
	background-image: url("img/background.png");
	height: auto;
	width: 100%;
}
/*.container{
	display: flex;
	background-color: #FFFFFF;

  background-color: rgb(255, 255, 255);
  height: 84px;
  width: 1264px;



}
.container .child p{
	font-size: 50px;
	color: #3DC7B9;
	font-family: 'Kaushan Script', cursive;
	color: #38C9B9;

}
.container .child p a{
	text-decoration: none;
	color: #38C9B9;
}
.container .child input[type=search]{
	height: 32px;
	width: 438px;
	border:1px solid #E0E0E0;
	border-radius: 3px;
	margin-top: 20px;
	font-weight: bold;
	padding: 5px;
	background-image: url("img/search.png");
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 400px;
	: 




}
.container .child i{
	text-decoration: none;
	color: #38C9B9;
	margin-top: 10px;


}
.container .child{
	
}*/
/*.................BOOtstrap start.............................*/
.navbar{
	background-color: rgb(255, 255, 255);
	border-color: rgb(255, 255, 255);
	border-radius: 0px ! important;
	height: 70px;
	display: flex;
	



}
.navbar-header{
	

}
.cart a{
	text-decoration: none;

}
.fa-shopping-cart{
	color: #4DCEC0;
	padding-left: 350px;
	
}

.navbar-header a{
	font-size: 50px;
	
	font-family: 'Kaushan Script', cursive;
	padding-right: 350px;
	padding-left: 90px;
	
}
.navbar-header a p{
	color: #4DCEC0;

}
.input-group{
	width: 435px;
	height: 34px;

	
}
.container-mitake{
	margin-top: 10px;
}
.fa-search{
	color: #E2E2E2;
	font-size: 17px;

}

/*.......... navigation style starts ............*/
.navigation{
    
	margin-top: 3px;
	margin-left: -15px;
    

	
	
	
}
.navbar-nav{
    background-color: #4DCEC0;
	
	height: 40px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
	min-width: 1590px;
	
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tillana');



.navbar-nav p {
	color: #FFFFFF;
	margin-top: -15px;
	font-weight: bold;
	font-size: 15px;
	


}
.navbar-nav li {
	padding-left: 20px;
	border-left: 2px solid #FFFFFF;
	height: 20px;
	margin-top: 10px;
}
.navbar-nav li:nth-child(1){
	border-left: none;
	padding-left: 170px;
}





/*.......... navigation style ends ............*/
/* banner starts*/







/* .....................media quierie...................*/
@media only screen and (max-width: 1400px){
	.fa-shopping-cart{

	padding-left: 250px;
	
}
.navbar-header a{
	font-size: 50px;
	
	font-family: 'Kaushan Script', cursive;
	padding-right: 100px;
	padding-left: 90px;
	
}
.navbar-nav p {
	color: #FFFFFF;
	margin-top: -15px;
	font-weight: bold;
	font-size: 12px;

	


}
.nac

.navbar-nav li {
	padding-left: 10px;
	border-left: 2px solid #FFFFFF;
	height: 20px;
	margin-top: 10px;
    margin-left: 17px;
}
.navbar-nav li:nth-child(1){
	border-left: none;
	padding-left: 100px;
}
.form-side{
	padding-left: 130px;
}




/*for catagories*/
.row{
    max-height: 192px;
}
.main{
    margin-left: -25px;
}

/*for catagories*/




}
/* .....................media quierie...................*/
/*banner*/
/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
    width:100%;

    
    padding: 30px 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
    height: 450px;

}

#ninja-slider.fullscreen {
   
}


#ninja-slider .fs-icon {
    top:6px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.2);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
    opacity: 1;
}
#ninja-slider.fullscreen div.fs-icon {
    right:30px;
}

#ninja-slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"CLOSE";
}


#ninja-slider .slider-inner {
    height: 447px;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}
.slider-inner{
    width:1023px;
     
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;

}

#ninja-slider.fullscreen .slider-inner {
    width:95%;
    max-width:800px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;

}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;

}

#ninja-slider li.ns-show {
    opacity:1;
    z-index: 1;
}
#ninja-slider li div.side {
    float: right;
    width: 450px;
    margin-right: 50px;
    
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
#ninja-slider li div h1{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;



    
}
#ninja-slider li div a{
    text-decoration: none;
}
#ninja-slider li div a p#show{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 7px;
    border: 3px solid white;
    width: 110px;
    font-weight: bold;
    border-radius: 5px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
#ninja-slider li div p{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;

} 

a.ns-img {
    width: 294px;
    height: 330px;
    margin-top: 17px;

}
.clear{
	clear: both;
}




/* --------- slider image ------- */  
#ninja-slider .ns-img {
    /*background-color:rgba(0,0,0,0.3);*/
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    /*box-shadow: inset 0 0 2px rgba(255,255,255,.3);*/
    border-radius:6px;

    cursor:default;
    display:block;
    position: absolute;
    width:50%;
    height:50%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    padding:20px 40px;
    margin:auto;
    left:0;right:0;
    top:auto;bottom:0px;
    width:auto;
    text-align:right;
    font-family:sans-serif;
    font-size:11px;
    color:rgba(255,255,255,0.2);
    background:none;
    /*background:rgba(0,0,0,0.12);*/
    position:absolute;
    box-sizing:border-box;
}
#ninja-slider li .cap1 {
    color:rgba(255,255,255,0.5);
    font:bold 32px arial;
    text-align:center;

    opacity:0;
    bottom:40%;
    -webkit-transition:bottom 1.3s, opacity 1s;
    transition:bottom 1.3s, opacity 1s;
}

/*The cap1 of the current slide */
#ninja-slider li[class*='-'] .cap1 {
    opacity:1;
    bottom:20%;
}
#ninja-slider li .cap2 {
    color:rgba(255, 162, 0, 0.5);
    font-size:23px;
    bottom:15%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

/*The cap2 of the current slide */
#ninja-slider li[class*='-s'] .cap2 {
    bottom:10%;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}  

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-51px;/*pager's height should also be counted*/
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: -42px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: -42px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    right:4px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
    padding-top:30px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCC;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-pager a.active 
{
    background-color:#1293dc;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }

    
    #ninja-slider li .cap1 {
        font-size:20px;
    }
}
/*..................Catagories starts....................*/
.catagories1{
    min-height: 190px;
    
    margin-left: -30px;
    background: #FFFFFF;
    
    
}
.new {
    margin-left: -40px;
}
.row i {

    font-size: 170px;

    
    color: #F3F3F3;
}
.row .main img {
    width: 164px;
    height: 145px;
    float: left;
    padding-right: 5px;
}
.row .main .float1{
    float: right;
    padding-right: 40px;
    width: 50%;
    
    margin-top:-120px;


}
.row .main .float1 h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #ADADAD;
}
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
.row .main .float1 p {
    text-transform: uppercase;
    background-color : #3EC294;
    padding: 3px 40px;
    font-weight: bold;
    font-family: 'Aref Ruqaa', serif;
    border: none;
    border-radius: 4px;

    

    

}
.row .main .float1 a {
    text-decoration: none;
    margin-left: 10px;


    

}


.main{
    width: 340px;
    border-right: 1px solid #E6E6E6;
    margin-right: 20px;
    padding:10px 10px;
}
/*..................Catagories ends....................*/
/*Featured products*/
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Oswald');
.container h2 {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;

    font-family: 'Aref Ruqaa', serif;

    font-family: 'Oswald', sans-serif;
    margin-left: -10px;


}
/* FEATURE PRUCTS LISt */
.thumbnail {

    width: 130px;
    height: 145px;
    margin: 16px auto 6px;

}
.col-lg-3{
  width: 249px;
  height: 261px;
  border: 1px solid #F6F6F6;
  margin-bottom: 35px;
  margin-left: 70px;
  border-radius: 1px;
  border-bottom: 5px solid #3EC294;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #FFFFFF;

}
/* change this later*/
ul.inline {
  display: flex;
list-style-type: none;

}
ul.inline li {
  padding: 3px;
  margin-left: 10px;
}
ul.inline li p{
  font-size: 18px;
  font-weight: bold;
  color: #ADADAD;
}
ul.inline li a{
	text-decoration: none;
  background-color: #3EC294;
  letter-spacing: -1px;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 3px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
h4{
  color: #ADADAD;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: 'Roboto Condensed', sans-serif;
}
.container-background{
    background: #FFFFFF;
    height: 660px;
    width: 100%;

}
.row1{
    max-width: 1050px;
    margin:50px auto 0;
}
#branded{
    text-transform: uppercase;
}


/* FEATURE PRODUCTS */




/*Footer products company starts*/
   
        .footer-row{

            
        }
        .footer-child ul{
            list-style-type: none;
            color: #FFFFFF;
            font-family: 'Open Sans Condensed', sans-serif;
        }
        @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
        .footer-child ul a{
            font-size: 21px;

        }
       @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans|Open+Sans+Condensed:300');
        .footer-child h3{
            font-weight: 550;
            letter-spacing: -1px;
            font-size: 26px;
            color: #FFFFFF;
            padding-left: 15px;



            font-family: 'Open Sans Condensed', sans-serif;

            font-family: 'Noto Sans', sans-serif;

            font-family: 'Fjalla One', sans-serif;



        }
        .footer-row{
            
        }
        .footer-main{
            
            background-color: #4DCEC0;
            
            height: 345px;
            
        }


/*Footer products company starts*/
/*copy rights */
.footer-margin{
    margin-bottom: -15px;
    background-color: #31A699;
    border: none;
    border-radius: 0px;
    color: #FFFFFF
}
/* modal cart


*/
/*PAGINATION */
.pagination ul li{
    
}












	


